<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="../../../../assets/images/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">Mat Helme</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Navigation</li>

                <li>
                    <a href="index.html" class="waves-effect active"><i class="fa fa-table"></i>
                        <span> Dashboard </span>
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </li>

                <li>
                    <a href="typography.html" class="waves-effect"><i class="fa fa-table"></i> <span> Typography </span> </a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect"><i class="fa fa-table"></i> <span> Dashboard </span> </a>
                </li>

                <li>
                    <a href="typography.html" class="waves-effect"><i class="fa fa-table"></i> <span> Typography </span> </a>
                </li>
                <li>
                    <a href="index.html" class="waves-effect"><i class="fa fa-table"></i> <span> Dashboard </span> </a>
                </li>

                <li>
                    <a href="typography.html" class="waves-effect"><i class="fa fa-table"></i> <span> Typography </span> </a>
                </li>
        <li>
                    <a href="index.html" class="waves-effect"><i class="fa fa-table"></i> <span> Dashboard </span> </a>
                </li>

                <li>
                    <a href="typography.html" class="waves-effect"><i class="fa fa-table"></i> <span> Typography </span> </a>
                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-table"></i><span class="label label-warning pull-right">7</span><span> Forms </span> </a>
                    <ul class="list-unstyled">
                        <li><a href="form-elements.html">General Elements</a></li>
                        <li><a href="form-advanced.html">Advanced Form</a></li>
                        <li><a href="form-validation.html">Form Validation</a></li>
                        <li><a href="form-wizard.html">Form Wizard</a></li>
                        <li><a href="form-fileupload.html">Form Uploads</a></li>
                        <li><a href="form-wysiwig.html">Wysiwig Editors</a></li>
                        <li><a href="form-xeditable.html">X-editable</a></li>
                    </ul>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
</div>