<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
            <div class="user-img"> <img src="../../../../assets/images/product.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">Mat Helme</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#"> <i class="fa fa-cog"></i> </a>
                </li>
                <li>
                    <a href="#" class="text-custom"> <i class="fa fa-sign-out"></i> </a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Navigation</li>
                <li> <a routerLink="/dashboard" routerLinkActive="active"  class="waves-effect">
                    <i class="fa fa-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li> <a routerLink="/products" routerLinkActive="active"  class="waves-effect">
                    <i class="fa fa-table"></i>
                        <span> 商品列表 </span>
                    </a>
                </li>
                <li> <a routerLink="/upload" routerLinkActive="active"  class="waves-effect">
                    <i class="fa fa-cloud-upload"></i>
                        <span> 上传图片 </span>
                    </a>
                </li>
                <li> <a routerLink="/form" routerLinkActive="active"  class="waves-effect">
                    <i class="fa fa-cloud-upload"></i>
                        <span> form </span>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>